<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="register_programmer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <register_programmer.Properties.Settings>
            <setting name="ReferenceInput" serializeAs="String">
                <value>122.8</value>
            </setting>
            <setting name="Divider" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DivideBy2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Doubler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChannelSpacing" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VCOOutput" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="OutputDividerIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoCalibration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Prescaler" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SDLoadReset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhaseResync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhaseAdjustment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Phase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MuxOutputIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DoubleBuffer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPCurrentIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ReferenceModeIsSingle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MuxLevelIs18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDPolarityIsNegative" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPThreeState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CounterReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FeedbackIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CPBleedCurrentInt" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="MuteTillLockDetect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuxOutputEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuxOutputPower" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RfOutputEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RfOutputPower" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NegativeBleed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GatedBleed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LESync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LDCycleCountInt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LOLMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FracNPrecision" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LDModeInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutosetFastestCalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VCOBandDivisonInt" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="TimeoutInt" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SynthLockTimeoutInt" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="TotalCalculatedTime" serializeAs="String">
                <value>148.958</value>
            </setting>
            <setting name="ADCClockDividerInt" serializeAs="String">
                <value>154</value>
            </setting>
            <setting name="ADCConversion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ADCEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ADCClockDividerAutoset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResyncClockInt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResyncClockTimeout" serializeAs="String">
                <value>0.016</value>
            </setting>
            <setting name="EnvironmentVaribleName" serializeAs="String">
                <value>Path</value>
            </setting>
        </register_programmer.Properties.Settings>
    </userSettings>
</configuration>
