<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="register_programmer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <register_programmer.Properties.Settings>
            <setting name="referenceInput" serializeAs="String">
                <value>122.8</value>
            </setting>
            <setting name="divider" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="doubler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="divideby2" serializeAs="String">
                <value>True</value>
            </setting>
        </register_programmer.Properties.Settings>
    </userSettings>
</configuration>
